$gradient: rgba(5, 5, 5, 0.568);
// $gradient: rgba(53, 53, 53, 0.774);
$gradient1: linear-gradient(60deg, #29323c 0%, #485563 100%);
$white:#ffffff;
$black:black;
$color1: #aea643;
$color3:#4b7f8a;
$card-background:linear-gradient($gradient, $gradient), url("/src/img/hero.jpg");